.nosotros {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    /* height: 500px; */
    background: #F5F5F5;
    padding: 20px;
}

.nosotros h2 {
    color: #074983;
}

.card-us {
    width: 100%;    
}

.card-title {
    width: 100%;
    background-color: #074983;
    padding: 25px 0;
    text-align: center;    
}

.card-title h2 {
    color: ghostwhite;
}
.row-us {
    padding: 20px;
    display: flex;
    gap: 25px;
}

.img-us {
    width: 40%;
}

.img-us img {
    width: 100%;
}

.card-body {
    width: 60%;
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .nosotros {
        padding-top: 100px;
    }
    
    .row-us {
        flex-direction: column;
    }
    
    .img-us {
        width: 100%;
    }
    
    .card-body {
        width: 100%;
    }
    
     }